@import "variables.less";

.client-popup {
  h4, .popup-form-input {
    margin-left: 55px;
  }

  h4 {
    margin-top: 72px;
    margin-bottom: 25px;
  }
  input {
    width: 200px;
    height: 30px;
    font-size: 17px;
    font-family: ArialMT;
    padding-left: 10px;
    margin-bottom: 90px;
  }
  .popup-control-box {
    height: 80px;
    border-top: 1px solid #dbdbdb;

    .submit-buttons-centered {
      //TODO: Change this
      margin-top: 20px;
    }
  }
}

.modal-class {
    //TODO: figure out a function for centering this
    position: absolute;
    display: inline-block;
    width: 648.3px;
    top: 12em;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: auto;
    height: auto;
    background-color: white;
    border: solid 1px gray;

    @media @respond-below-mobile {
        top: 0;
        bottom: 0;
    }
}
//calc(100% - 10px);
.modal-class:focus {
  border: none;
}

.overlay-class {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

.mm-pop {
  width: 648.3px;
  font-size: 19px;

  td {
    padding: 0 2.2em .8em 0;
  }

  input {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-family: @font-arialmt;
    font-size: 17px;
    border-radius: 2px;
	color: @green;
  }

  textarea:focus, input:focus {
      outline: none;
  }
}
