@import "variables.less";

.modal-class {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.overlay-class {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }

.mm-pop {
  width: 648.3px;
  font-size: 19px;

  td {
    padding: 0 2.2em .8em 0;
  }

  input {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-family: @font-arialmt;
    font-size: 17px;
    border-radius: 2px;
    color: @green;
  }

  textarea:focus, input:focus {
      outline: none;
  }
}
