@import "variables.less";
/************* RESERVATION CANCELING PAGE ********/
.cancel-reservation {
  width: 100%;
  max-width: 940px;
  height: 500px;
  background-color: @white;
  text-align: center;
}
