@import "variables.less";

/* Application container */
.app {
  width: 100%;
  height: 80%;

  @media (max-width: @screen-xs-max) {
    margin: 0;
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  @media (min-width: @screen-md-min) {
    max-width: 910px;
    margin: 0 auto;
  }
}

/**********  SECTIONS  *************/

/*********************************/
/***      SECTION HEADER       ***/
/*********************************/
.section-header {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  @media (max-width: @screen-xs-max) {

  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    width: auto;
    height: 103px;
    margin-left: 14px;
    margin-right: 14px;
  }

  @media (min-width: @screen-md-min) {
  }
}

/****************************************/
/***    SECTION RESOURCE SELECTION    ***/
/****************************************/
.section-resource-selection {
  background-color: @white;

  /* width < 768px */
  @media (max-width: @screen-xs-max) {
    margin-bottom: 0;
    border-bottom: 2px solid @red-ribbon;
  }

  /* width 768px - 992px */
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    padding: 0 23px;
  }

  /* width >= 992px */
  @media (min-width: @screen-md-min) {
    padding: 0 30px;
  }
}

.section-resource-selection-inactive {
  background-color: @white;

  /* width < 768px */
  @media (max-width: @screen-xs-max) {
    display: none;
  }

  /* width 768px - 992px */
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  }

  /* width >= 992px */
  @media (min-width: @screen-md-min) {
  }
}

/*********************************/
/***    SECTION TIME SEARCH    ***/
/*********************************/
.section-time-search {
  overflow: hidden;
  background-color: @white;

  /* width < 768px */
  @media (max-width: @screen-xs-max) {
    height: 100%;
    padding: 0;
  }

  /* width 768px - 992px */
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    padding: 0 23px;
  }

  /* width >= 992px */
  @media (min-width: @screen-md-min) {
    height: auto;
    max-height: 750px;
    padding: 0 30px;
  }
}

.section-time-search-inactive {
  background-color: @white;

  /* width < 768px */
  @media (max-width: @screen-xs-max) {
    padding: 0;
  }

  /* width 768px - 992px */
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    padding: 0 23px;
  }

  /* width >= 992px */
  @media (min-width: @screen-md-min) {
    padding: 0 30px;
  }
}

/*********************************/
/***    SECTION CONFIRMATION   ***/
/*********************************/
.section-confirmation {
  background-color: @white;

  /* width < 768px */
  @media (max-width: @screen-xs-max) {
    padding: 0;
  }

  /* width 768px - 992px */
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    padding: 0 23px;
    margin-bottom: 15px;
  }

  /* width >= 992px */
  @media (min-width: @screen-md-min) {
    padding: 0 30px;
    margin-bottom: 50px;
  }
}

.section-confirmation-inactive {
  background-color: @white;
  opacity: 0.5;
  margin-bottom: 50px;
  /* width < 768px */
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

/*********************************/
/***      SECTION SUMMARY      ***/
/*********************************/
.section-summary {
  background-color: @white;
  margin-bottom: 50px;
}
