@import "variables.less";
/********* SECTION : RESOURCE SELECTION    ****************/

.hide-team-on-mobile {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
  @media (min-width: @screen-sm-min)  {
    display: block;
  }
}


/* width < 768px */
@media (max-width: @screen-xs-max) {

  .ohc-employer-list {
    display: none;
  }

  .ohc-employer-list-mobile {
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
    font-family: @font-arialmt;

    .dropdown-menu>li {
      border-bottom: 1px solid @gray-white;
    }
    .dropdown-menu>li:last-child {
      border-bottom: 0;
    }
    .btn-white-dropdown {
        border: none;
        background-color: @white;
        color: @gray-very-light;
    }
  }

  .ohc-team-list {
    margin-bottom: 20px;
    text-align: left;

    ul {
    padding-left: 0;

      li {
        display: block;
        width: 100%;
        line-height: 50px;
        list-style-type: none;
        padding: 10px 20px;
        border-top: 1px solid @gray-light-2;

        p, a {
          margin: 0;
          font-family: @font-arialmt;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
        }

        .ohc-image {
          display: inline-block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          vertical-align: middle;
          overflow: hidden;
          border: 1px solid @gray-white;
          border-radius: 25px;
          img {
            max-width: 50px;
          }
        }
        .ohc-resource-info {
          display: inline-block;
          margin-left: 14px;
          height: 50px;
          line-height: 55px;
          vertical-align: top;

          .ohc-name {
            font-weight: bold;
            color: @gray-dark;
            padding-bottom: 4px;
          }
          .ohc-title {
            opacity: 0.4;
            color: @gray-dark;
          }
        }
        .ohc-link {
          display: inline-block;
          float: right;
          line-height: 50px;
          a:link, a:visited {
            font-size: 15px;
            background-color: @red-ribbon;
            color: @white;
            line-height: 1;
            padding: 3px 10px;
            border: 1px solid @red-ribbon;
            border-radius: 14px;
            text-decoration: none;
          }
          a:hover {
            opacity: 0.5;
          }
        }
      } /* li */
    } /* ul */
  } /* .ohc-team-list */

  .ohc-disclaimer {
    display: none;
  }
} /* END: media < 768px */

/* width 768px - 992px */
@media (min-width: @screen-sm-min)  {

  .ohc-employer-selection {
    display: none;
  }

  .show_team {
    display: block;
  }

  .ohc-employer-list {
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
    font-family: @font-arialmt;

    .dropdown-menu>li {
      border-bottom: 1px solid @gray-white;
    }
    .dropdown-menu>li:last-child {
      border-bottom: 0;
    }
    .btn-white-dropdown {
        border: none;
        background-color: @white;
        color: @gray-very-light;
    }
  }

  .ohc-team-list {
    display: block;
    margin-bottom: 20px;
    text-align: left;

    ul {
    padding-left: 0;

      li {
        display: inline-block;
        width: 120px;
        height: 130px;
        list-style-type: none;
        text-align: center;
        margin-left: 10px;
        vertical-align: top;

        p, a {
          margin: 0;
          font-family: @font-arialmt;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
        }

        .ohc-image {
          display: inline-block;
          width: 50px;
          height: 50px;
          text-align: center;
          overflow: hidden;
          border: 1px solid @gray-white;
          border-radius: 25px;
          img {
            max-width: 50px;
          }
        }
        .ohc-name {
          font-weight: bold;
          color: @gray-dark;
        }
        .ohc-title {
          opacity: 0.4;
          color: @gray-dark;
        }
        .ohc-link a {
          display: inline-block;
          margin-top: 10px;
          font-size: 13px;
          color: @red-ribbon;
        }
      } /* li */
    } /* ul */
  } /* .ohc-team-list */

  .ohc-disclaimer {
    font-family: @font-arialmt;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    color: @gray-very-light;
  }
} /* END: media >= 768 */
