/********* SECTION : RESOURCE SELECTION    ****************/
.ohc-employer-list {
  display: inline-block;
}

.ohc-team-list {
  border: 0px solid black;
  margin-bottom: 20px;
  text-align: left;
}

.ohc-team-list ul {
  padding-left: 0;
}

.ohc-team-list li {
  display: inline-block;
  width: 120px;
  list-style-type: none;
  text-align: center;
  margin-left: 10px;
  vertical-align: top;
  border: 0px solid red;
}

.ohc-team-list li img {
  max-width: 50px;
  max-height: 50px;
}

.ohc-team-list li p {
  margin-bottom: 0;
}
