@import "variables.less";
/******  SECTION : HEADER ********/
.section-header-title {
  font-family: Helvetica;
  font-size: 40px;
  text-align: center;
  color: @white;
}

.section-header-links {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.section-header-links span img {
  margin-right: 5px;
  vertical-align: center;
}

.section-header-links span a {
  font-family: ArialMT;
  font-size: 18px;
  color: @white;
}
