//RESPONSIVE STYLES USED WITH MEDIAQUERIES
@mobile: ~"only screen and (max-width: 430px)";
@tablet: ~"only screen and (max-width: 600px)";
@desktop: ~"only screen and (max-width: 950px)";
@desktop-lg: ~"only screen and (max-width: 1200px)";
@desktop-xl: ~"only screen and (max-width: 1600px)";

//MAIN FONTS
@font-gotham: Gotham-Book, ArialMT;
@font-arialmt: ArialMT;
@font-gotham-bootstrap: Gotham-Book, ArialMT !important;

//SPECIAL FONTS
@font-helveticaneue: HelveticaNeue;
@font-helvetica: Helvetica;

//COLORS
@red-ribbon: #F10C29;
@white: #fff;
@gray-white: #ccc;
@gray-ligth: #eee;
@gray-dark: #4a4a4a;
@green: #333333;
@yellow: #ff0;
@black: #000;
@silver: #C0C0C0;
