/****** BOOTSTRAP MODIFICATIONS *********/
html,
body {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
body {
  background-color: #fff !important;
  /* width < 1200px */
  /* width > 1200 */
  /* width < 600px and portrait */
  /* width < 600px and portrait */
}
@media (min-width: 481px) and (max-width: 1200px) {
  body {
    background-image: url("/public/img/website-background-desktop.jpg");
  }
}
@media (min-width: 1201px) {
  body {
    background-image: url("/public/img/website-background-desktop-hd.jpg");
  }
}
@media (min-device-width: 481px) and (max-device-width: 800px) and (orientation: portrait) {
  body {
    background-image: url("/public/img/website-background-desktop-portrait.jpg");
  }
}
@media (max-width: 480px) {
  body {
    /* no backgrounf image */
  }
}
@media only screen and (max-width: 430px) {
  body {
    overflow: hidden;
  }
}
hr {
  color: #eee;
  margin-top: 0 !important;
}
.container-fluid {
  padding: 0 !important;
  height: 100% !important;
}
h4,
h5 {
  font-family: Gotham-Book, ArialMT !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
}
h4 {
  font-size: 18px !important;
  color: #4a4a4a !important;
}
h5 {
  font-size: 17px !important;
  color: #333333 !important;
}
h3 {
  font-family: Gotham-Book, ArialMT !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  font-size: 16px !important;
  color: #333333 !important;
}
.list-group-item {
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  /* width < 768px */
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (max-width: 767px) {
  .list-group-item {
    padding: 10px 20px !important;
    line-height: 50px !important;
  }
  .list-group-item p {
    font-family: ArialMT;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    color: #4a4a4a;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .list-group-item {
    padding: 6px 0 !important;
    line-height: 50px !important;
  }
  .list-group-item p {
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    color: #4a4a4a;
  }
}
@media (min-width: 992px) {
  .list-group-item {
    padding: 6px 0 !important;
    line-height: 50px !important;
  }
  .list-group-item p {
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    color: #4a4a4a;
  }
}
/* Application container */
.app {
  width: 100%;
  height: 80%;
}
@media (max-width: 767px) {
  .app {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media (min-width: 992px) {
  .app {
    max-width: 910px;
    margin: 0 auto;
  }
}
/**********  SECTIONS  *************/
/*********************************/
/***      SECTION HEADER       ***/
/*********************************/
.section-header {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-header {
    width: auto;
    height: 103px;
    margin-left: 14px;
    margin-right: 14px;
  }
}
/****************************************/
/***    SECTION RESOURCE SELECTION    ***/
/****************************************/
.section-resource-selection {
  background-color: #fff;
  /* width < 768px */
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (max-width: 767px) {
  .section-resource-selection {
    margin-bottom: 0;
    border-bottom: 2px solid #F10C29;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-resource-selection {
    padding: 0 23px;
  }
}
@media (min-width: 992px) {
  .section-resource-selection {
    padding: 0 30px;
  }
}
.section-resource-selection-inactive {
  background-color: #fff;
  /* width < 768px */
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (max-width: 767px) {
  .section-resource-selection-inactive {
    display: none;
  }
}
/*********************************/
/***    SECTION TIME SEARCH    ***/
/*********************************/
.section-time-search {
  overflow: hidden;
  background-color: #fff;
  /* width < 768px */
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (max-width: 767px) {
  .section-time-search {
    height: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-time-search {
    padding: 0 23px;
  }
}
@media (min-width: 992px) {
  .section-time-search {
    height: auto;
    max-height: 750px;
    padding: 0 30px;
  }
}
.section-time-search-inactive {
  background-color: #fff;
  /* width < 768px */
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (max-width: 767px) {
  .section-time-search-inactive {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-time-search-inactive {
    padding: 0 23px;
  }
}
@media (min-width: 992px) {
  .section-time-search-inactive {
    padding: 0 30px;
  }
}
/*********************************/
/***    SECTION CONFIRMATION   ***/
/*********************************/
.section-confirmation {
  background-color: #fff;
  /* width < 768px */
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (max-width: 767px) {
  .section-confirmation {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-confirmation {
    padding: 0 23px 18px 23px;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .section-confirmation {
    padding: 0 30px 32px 30px;
    margin-bottom: 50px;
  }
}
.section-confirmation-inactive {
  background-color: #fff;
  opacity: 0.5;
  margin-bottom: 50px;
  /* width < 768px */
}
@media (max-width: 767px) {
  .section-confirmation-inactive {
    display: none;
  }
}
/*********************************/
/***      SECTION SUMMARY      ***/
/*********************************/
.section-summary {
  background-color: #fff;
  margin-bottom: 50px;
}
/******  SECTION : HEADER ********/
/* width < 768px */
@media (max-width: 767px) {
  .logo-bar {
    background-color: #fff;
    line-height: 50px;
  }
  .logo-bar .diacor-logo {
    display: inline-block;
    margin-left: 16px;
    line-height: 16px;
    width: 100px;
    height: 16px;
    vertical-align: middle;
    background-image: url('/public/img/header-diacor-logo-mob.png');
  }
  .logo-bar .title {
    display: none;
  }
  .logo-bar .lang-selection {
    display: none;
    margin-top: 10px;
  }
  .logo-bar .lang-selection .current-lang {
    display: none;
  }
  .logo-bar .lang-selection ul {
    padding: 0;
  }
  .logo-bar .lang-selection ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
  }
  .logo-bar .lang-selection ul li a:link,
  .logo-bar .lang-selection ul li a:visited,
  .logo-bar .lang-selection ul li a:hover {
    font-family: ArialMT;
    font-size: 14px;
    color: #fff;
  }
  .title-bar {
    line-height: 50px;
    padding: 0 16px;
    display: block;
    color: #fff;
    background-color: #F10C29;
  }
  .title-bar .title {
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
    font-family: Gotham-Book, ArialMT;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  .title-bar .header-turku-link {
    margin: 0;
    padding: 0;
  }
  .links-bar {
    line-height: 50px;
    padding: 0 16px;
    color: #fff;
    background-color: #F10C29;
  }
  .links-bar .logo-login-ohc {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 11px;
    height: 14px;
    background-image: url('/public/img/header-login-ohc-tab.png');
  }
  .links-bar .ohc_login_desktop {
    display: none;
  }
  .links-bar .ohc_login_mobile {
    display: inline-block;
  }
  .links-bar .logo-reservation {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-image: url('/public/img/header-reservations-tab.png');
  }
  .links-bar span a {
    font-family: ArialMT;
    vertical-align: middle;
    font-size: 18px;
    color: #fff;
  }
  .header-link a:link,
  .header-link a:visited,
  .header-link a:hover {
    line-height: 48px;
    vertical-align: middle;
    font-family: ArialMT;
    font-size: 16px;
    color: #fff;
  }
  .hide-mobile-links-bar {
    display: none !important;
  }
}
/* END: media: width < 768px */
/* width 768px - 992px */
@media (min-width: 768px) and (max-width: 991px) {
  .logo-bar {
    position: relative;
  }
  .logo-bar .diacor-logo {
    position: absolute;
    left: 24px;
    top: 28px;
    display: inline;
    line-height: 34px;
    width: 161px;
    height: 26px;
    vertical-align: middle;
    background-image: url('/public/img/header-diacor-logo-tab.png');
  }
  .logo-bar .title {
    font-family: Gotham-Book, ArialMT;
    font-size: 35px;
    line-height: 26px;
    padding-top: 40px;
    text-align: center;
    color: #fff;
  }
  .logo-bar .lang-selection {
    margin-top: 10px;
  }
  .logo-bar .lang-selection .current-lang {
    display: none;
  }
  .logo-bar .lang-selection ul {
    padding: 0;
  }
  .logo-bar .lang-selection ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
  }
  .logo-bar .lang-selection ul li a:link,
  .logo-bar .lang-selection ul li a:visited,
  .logo-bar .lang-selection ul li a:hover {
    font-family: ArialMT;
    font-size: 14px;
    color: #fff;
  }
  .title-bar {
    display: none;
  }
  .links-bar {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .links-bar .logo-login-ohc {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 11px;
    height: 14px;
    background-image: url('/public/img/header-login-ohc-tab.png');
  }
  .links-bar .ohc_login_desktop {
    display: inline-block;
  }
  .links-bar .ohc_login_mobile {
    display: none;
  }
  .links-bar .logo-reservation {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-image: url('/public/img/header-reservations-tab.png');
  }
  .links-bar span a {
    font-family: ArialMT;
    vertical-align: center;
    font-size: 16px;
    color: #fff;
  }
}
/* END: media: width 768px - 991px */
/* width >= 992px */
@media (min-width: 992px) {
  .logo-bar .diacor-logo {
    display: inline-block;
    margin-top: 50px;
    margin-left: -120px;
    line-height: 34px;
    width: 212px;
    height: 34px;
    vertical-align: middle;
    background-image: url('/public/img/header-diacor-logo.png');
  }
  .logo-bar .title {
    font-family: Gotham-Book, ArialMT;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
  }
  .logo-bar .lang-selection {
    margin-top: 10px;
  }
  .logo-bar .lang-selection .current-lang {
    display: none;
  }
  .logo-bar .lang-selection ul {
    padding: 0;
  }
  .logo-bar .lang-selection ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
  }
  .logo-bar .lang-selection ul li a:link,
  .logo-bar .lang-selection ul li a:visited,
  .logo-bar .lang-selection ul li a:hover {
    font-family: ArialMT;
    font-size: 14px;
    color: #fff;
  }
  .title-bar {
    display: none;
  }
  .links-bar {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    line-height: 20px;
    margin-top: 6px;
    margin-bottom: 9px;
  }
  .links-bar .logo-login-ohc {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
    height: 19px;
    background-image: url('/public/img/header-login-ohc.png');
  }
  .links-bar .ohc_login_desktop {
    display: inline-block;
  }
  .links-bar .ohc_login_mobile {
    display: none;
  }
  .links-bar .logo-reservation {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-image: url('/public/img/header-reservations.png');
  }
  .links-bar span a {
    font-family: ArialMT;
    vertical-align: middle;
    font-size: 18px;
    color: #fff;
  }
}
/* END: media: width >= 992px */
/********* SECTION : RESOURCE SELECTION    ****************/
@media (max-width: 767px) {
  .hide-team-on-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-team-on-mobile {
    display: block;
  }
}
/* width < 768px */
@media (max-width: 767px) {
  .ohc-employer-list {
    display: none;
  }
  .ohc-employer-list-mobile {
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
    font-family: ArialMT;
  }
  .ohc-employer-list-mobile .dropdown-menu > li {
    border-bottom: 1px solid #ccc;
  }
  .ohc-employer-list-mobile .dropdown-menu > li:last-child {
    border-bottom: 0;
  }
  .ohc-employer-list-mobile .btn-white-dropdown {
    border: none;
    background-color: #fff;
    color: #a4a4a4;
  }
  .ohc-team-list {
    margin-bottom: 20px;
    text-align: left;
    /* ul */
  }
  .ohc-team-list ul {
    padding-left: 0;
    /* li */
  }
  .ohc-team-list ul li {
    display: block;
    width: 100%;
    line-height: 50px;
    list-style-type: none;
    padding: 10px 20px;
    border-top: 1px solid #e8e8e8;
  }
  .ohc-team-list ul li p,
  .ohc-team-list ul li a {
    margin: 0;
    font-family: ArialMT;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
  }
  .ohc-team-list ul li .ohc-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  .ohc-team-list ul li .ohc-image img {
    max-width: 50px;
  }
  .ohc-team-list ul li .ohc-resource-info {
    display: inline-block;
    margin-left: 14px;
    height: 50px;
    line-height: 55px;
    vertical-align: top;
  }
  .ohc-team-list ul li .ohc-resource-info .ohc-name {
    font-weight: bold;
    color: #4a4a4a;
    padding-bottom: 4px;
  }
  .ohc-team-list ul li .ohc-resource-info .ohc-title {
    opacity: 0.4;
    color: #4a4a4a;
  }
  .ohc-team-list ul li .ohc-link {
    display: inline-block;
    float: right;
    line-height: 50px;
  }
  .ohc-team-list ul li .ohc-link a:link,
  .ohc-team-list ul li .ohc-link a:visited {
    font-size: 15px;
    background-color: #F10C29;
    color: #fff;
    line-height: 1;
    padding: 3px 10px;
    border: 1px solid #F10C29;
    border-radius: 14px;
    text-decoration: none;
  }
  .ohc-team-list ul li .ohc-link a:hover {
    opacity: 0.5;
  }
  /* .ohc-team-list */
  .ohc-disclaimer {
    display: none;
  }
}
/* END: media < 768px */
/* width 768px - 992px */
@media (min-width: 768px) {
  .ohc-employer-selection {
    display: none;
  }
  .show_team {
    display: block;
  }
  .ohc-employer-list {
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
    font-family: ArialMT;
  }
  .ohc-employer-list .dropdown-menu > li {
    border-bottom: 1px solid #ccc;
  }
  .ohc-employer-list .dropdown-menu > li:last-child {
    border-bottom: 0;
  }
  .ohc-employer-list .btn-white-dropdown {
    border: none;
    background-color: #fff;
    color: #a4a4a4;
  }
  .ohc-team-list {
    display: block;
    margin-bottom: 20px;
    text-align: left;
    /* ul */
  }
  .ohc-team-list ul {
    padding-left: 0;
    /* li */
  }
  .ohc-team-list ul li {
    display: inline-block;
    width: 120px;
    height: 130px;
    list-style-type: none;
    text-align: center;
    margin-left: 10px;
    vertical-align: top;
  }
  .ohc-team-list ul li p,
  .ohc-team-list ul li a {
    margin: 0;
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
  }
  .ohc-team-list ul li .ohc-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  .ohc-team-list ul li .ohc-image img {
    max-width: 50px;
  }
  .ohc-team-list ul li .ohc-name {
    font-weight: bold;
    color: #4a4a4a;
  }
  .ohc-team-list ul li .ohc-title {
    opacity: 0.4;
    color: #4a4a4a;
  }
  .ohc-team-list ul li .ohc-link a {
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    color: #F10C29;
  }
  /* .ohc-team-list */
  .ohc-disclaimer {
    font-family: ArialMT;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    color: #a4a4a4;
  }
}
/* END: media >= 768 */
/********** SECTION : TIME SEARCH : HEADER    *************/
.reservation-summary {
  display: inline-block;
  font-family: ArialMT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #a4a4a4;
  /* width < 768px */
}
@media (max-width: 767px) {
  .reservation-summary {
    display: none;
  }
}
/******** SECTION : TIME SEARCH : FILTER MAIN BOX *********/
.filter-main {
  padding-right: 30px !important;
  border-right: 2px solid #ccc;
  /* width < 768px */
  /* width 768px - 992px */
}
@media (max-width: 767px) {
  .filter-main {
    padding-right: 0 !important;
    border: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .filter-main {
    width: 43.7% !important;
  }
}
/********   SECTION : TIME SEARCH : FILTERS     ***********/
.input-reset {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 12px;
  height: 12px;
  opacity: 1;
}
@media (max-width: 767px) {
  .input-reset {
    top: 19px;
    right: 20px;
  }
}
.input-reset:hover {
  opacity: 0.5;
}
.input-reset:before,
.input-reset:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 13px;
  width: 2px;
  background-color: #F10C29;
}
@media (max-width: 767px) {
  .input-reset:before,
  .input-reset:after {
    background-color: #a4a4a4;
  }
}
.input-reset:before {
  transform: rotate(45deg);
}
.input-reset:after {
  transform: rotate(-45deg);
}
/*******  SECTION : TIME SEARCH : FILTERS : TERMS SEARCH ****/
/* width < 768px */
@media (max-width: 767px) {
  .search-box {
    position: relative;
  }
  .search-box input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 17px;
  }
}
/* width 768px - 992px */
@media (min-width: 768px) and (max-width: 991px) {
  .search-box {
    position: relative;
    margin-bottom: 10px;
  }
  .search-box input {
    width: 100%;
    height: 39px;
    padding-left: 11px;
  }
}
/* width >= 992px */
@media (min-width: 992px) {
  .search-box {
    position: relative;
    margin-bottom: 10px;
  }
  .search-box input {
    width: 100%;
    height: 39px;
    padding-left: 11px;
  }
}
/*** SECTION : TIME SEARCH : TERMS & UNITS SEARCH RESULT DROPDOWNS ***/
.search-hints {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  display: block;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-hints ul {
  width: 100;
  padding-left: 0;
}
.search-hints ul li {
  width: 100%;
  list-style-type: none;
}
.search-hints ul li a {
  width: 100%;
  padding: 5px 0 5px 10px;
  display: block;
  color: #333333;
  text-decoration: none;
}
.search-hints ul li a:hover {
  background-color: #eee;
}
.search-hints-selected {
  background-color: #eee;
}
/***** SECTION : TIME SEARCH : FILTERS : EXTRA FILTER   *****/
/* width < 768px */
@media (max-width: 767px) {
  .extra-filters {
    border-bottom: 1px solid #e8e8e8;
  }
  .extra-filters .extra-filters-link {
    display: none;
  }
  .extra-filters .extra-filters-content {
    padding-left: 10px;
    margin: 0;
  }
  .extra-filters .extra-filters-input {
    line-height: 50px;
  }
  .extra-filters .extra-filters-input .extra-filters-label {
    line-height: 16px;
    vertical-align: middle;
    padding-left: 20px;
    margin: 0;
    font-family: ArialMT;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #a4a4a4;
  }
}
/* width 768px - 992px */
@media (min-width: 768px) and (max-width: 991px) {
  .extra-filters-input {
    display: none;
  }
}
/* width >= 992px */
@media (min-width: 992px) {
  .extra-filters-input {
    display: none;
  }
}
.extra-filters-content {
  padding-top: 10px;
  margin: 10px 0;
  background-color: #efefef;
}
.filter-group {
  padding-bottom: 10px;
}
.extra-filters span input[type="radio"] {
  display: none;
}
.extra-filters span input[type="radio"] + label {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 10px;
  border: 1px solid #F10C29;
  border-radius: 20px;
  color: #F10C29;
  font-family: ArialMT;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
}
.extra-filters span input[type="radio"] + label:hover {
  opacity: 0.2;
}
.extra-filters span input[type="radio"]:checked + label {
  background-color: #F10C29;
  color: #fff;
}
.extra-filters-label {
  margin: 0 0 10px 10px;
  font-family: ArialMT;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
/***** SECTION : TIME SEARCH : FILTERS : CALENDAR   *****/
#calendar-filter {
  width: 100%;
  max-width: 1000px;
}
@media (max-width: 767px) {
  .calendar-datepicker-desktop {
    display: none;
  }
  .calendar-datepicker-mobile {
    display: none;
    width: 100%;
    text-align: center;
  }
  .calendar-day-selector {
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-family: ArialMT;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  .calendar-day-selector a:link,
  .calendar-day-selector a:visited {
    text-decoration: none;
    color: #333333;
  }
  .calendar-day-selector a:hover {
    text-decoration: none;
    opacity: 0.5;
  }
  .calendar-day-selector a {
    line-height: 50px;
    display: inline-block;
  }
  .calendar-day-selector a:first-child,
  .calendar-day-selector a:last-child {
    width: 50px;
  }
  .calendar-day-selector .glyphicon-calendar {
    opacity: 0.5 !important;
  }
}
@media (min-width: 768px) {
  .calendar-day-selector {
    display: none;
  }
  .calendar-datepicker-mobile {
    display: none !important;
  }
  .calendar-datepicker-desktop {
    display: block;
  }
}
/****** SECTION : TIME SEARCH : FILTER : TIME OF DAY *****/
.filter-time-of-day {
  display: inline-block;
  float: right;
  line-height: 16px;
}
@media (max-width: 767px) {
  .filter-time-of-day {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
  }
  .filter-time-of-day label {
    margin: 0 !important;
    line-height: 40px;
    width: 33%;
    vertical-align: middle;
    border: 0 !important;
    font-size: 18px;
  }
  .filter-time-of-day form input[type="radio"] + label:hover {
    background-color: #ccc;
  }
  .filter-time-of-day form input[type="radio"]:checked + label {
    opacity: 0.83;
    background-color: #f4f4f4;
  }
}
.filter-time-of-day form input[type="radio"] {
  display: none;
}
.filter-time-of-day form input[type="radio"] + label {
  display: inline-block;
  margin-left: 10px;
  font-weight: normal;
  border: 1px solid #fff;
}
.filter-time-of-day form input[type="radio"] + label:hover {
  opacity: 0.2;
}
.filter-time-of-day form input[type="radio"]:checked + label {
  border-bottom-color: #F10C29;
}
/*******  SECTION : TIME SEARCH : TIME SLOT LIST  ********/
@media (max-width: 767px) {
  .timeslot-list {
    padding-left: 0 !important;
    border-top: 2px solid #F10C29;
  }
  .timeslot-list-header {
    margin-top: 15px !important;
    display: block;
    width: 100%;
    text-align: center;
  }
}
/* width 768px - 992px */
@media (min-width: 768px) and (max-width: 991px) {
  .timeslot-list {
    width: 55.9% !important;
    padding-left: 30px !important;
  }
  .list-container {
    overflow-y: auto;
    height: 400px;
  }
}
/* width >= 992px */
@media (min-width: 992px) {
  .timeslot-list {
    padding-left: 30px !important;
  }
  .list-container {
    height: 400px;
    overflow-y: auto;
  }
}
.timeslot-list-header {
  display: inline-block;
  margin-top: 0;
  font-family: ArialMT;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333333;
  text-transform: uppercase;
}
.list-container {
  overflow-x: hidden;
}
.slot-inline {
  display: inline-block;
  margin-right: 10px;
  line-height: 17px;
}
.slot-align-top {
  vertical-align: top;
}
.slot-align-middle {
  vertical-align: middle;
}
.lh-50 {
  line-height: 50px;
}
.slot-time {
  display: inline-block;
  width: 55px;
  font-family: HelveticaNeue;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #F10C29;
}
.slot-duration {
  display: inline-block;
  width: 55px;
  font-family: HelveticaNeue;
  font-size: 13px;
  line-height: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #a4a4a4;
}
.slot-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  border: solid 1px #ccc;
  border-radius: 25px;
}
.slot-image img {
  max-width: 50px;
}
.slot-resource {
  display: inline-block;
  height: 14px;
}
.slot-resource a:link,
.slot-resource a:visited,
.slot-resource a:hover {
  font-family: ArialMT;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  vertical-align: top;
  color: #4a4a4a;
  text-decoration: none;
}
.slot-title {
  display: inline-block;
  height: 14px;
  opacity: 0.4;
  font-family: ArialMT;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
.slot-unit {
  display: inline-block;
  height: 14px;
  opacity: 0.4;
  font-family: ArialMT;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  vertical-align: bottom;
  color: #4a4a4a;
}
/***************************/
.turku-link {
  margin-bottom: 20px;
  /* width < 768px */
}
@media (max-width: 767px) {
  .turku-link {
    display: none;
  }
}
.turku-link a:link,
.turku-link a:visited,
.turku-link a:hover {
  text-decoration: none;
  font-family: ArialMT;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000;
}
/**********  SECTION : CONFIRMATION **************/
.section-confirmation {
  /* width < 768px */
}
@media (max-width: 767px) {
  .section-confirmation .header-row {
    display: none;
  }
  .section-confirmation p {
    font-family: ArialMT;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    color: #4a4a4a;
    padding-left: 20px;
  }
}
.confirmation-block {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .confirmation-block {
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #F10C29;
  }
}
.confirmation-block .confirmation-1st-col {
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (min-width: 768px) and (max-width: 991px) {
  .confirmation-block .confirmation-1st-col {
    width: 52%;
  }
}
@media (min-width: 992px) {
  .confirmation-block .confirmation-1st-col {
    width: 52%;
  }
}
.confirmation-block .confirmation-2nd-col {
  /* width 768px - 992px */
  /* width >= 992px */
}
@media (min-width: 768px) and (max-width: 991px) {
  .confirmation-block .confirmation-2nd-col {
    width: 48%;
    padding-top: 28px;
  }
}
@media (min-width: 992px) {
  .confirmation-block .confirmation-2nd-col {
    width: 48%;
    padding-top: 28px;
  }
}
.confirmation-block .confirmation-logo {
  display: inline-block;
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  vertical-align: top;
  margin-top: 22px;
  margin-right: 30px;
  margin-left: 37px;
  overflow: hidden;
}
.confirmation-block .confirmation-logo img {
  width: 78px;
  max-width: 78px;
}
.confirmation-block .logo-border {
  border: 1px solid #ccc;
  border-radius: 39px;
}
@media (max-width: 767px) {
  .confirmation-block .hide-mobile {
    display: none;
  }
}
.confirmation-block .confirmation-content {
  display: inline-block;
  vertical-align: top;
  max-width: 270px;
}
@media (max-width: 767px) {
  .confirmation-block .confirmation-content {
    width: 100%;
    max-width: 100%;
  }
  .confirmation-block .confirmation-content h5 {
    margin: 16px 0;
    padding-left: 20px;
  }
}
.confirmation-block .confirmation-content textarea {
  width: 270px;
  height: 115px;
  /* width 768px -> */
}
@media (max-width: 767px) {
  .confirmation-block .confirmation-content textarea {
    border: 0;
    border-top: 1px solid #e8e8e8;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding: 0;
    padding-left: 20px;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .confirmation-block .confirmation-content textarea {
    padding-left: 11px;
    padding-top: 6px;
  }
}
.confirmation-block .confirmation-content input[type="checkbox"],
.confirmation-block .confirmation-content input[type="radio"] {
  margin: 0 10px 0 0;
}
.confirmation-block .confirmation-content label {
  font-family: ArialMT;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  color: #4a4a4a;
  margin-bottm: 0;
}
.confirmation-block .confirmation-content input[type="text"] {
  margin-top: 5px;
  width: 270px;
  height: 39px;
  /* width 768px -> */
}
@media (max-width: 767px) {
  .confirmation-block .confirmation-content input[type="text"] {
    border: 0;
    border-top: 1px solid #e8e8e8;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .confirmation-block .confirmation-content input[type="text"] {
    padding-left: 11px;
  }
}
.confirmation-block .confirmation-content table {
  margin-top: 15px;
  /* width 768px -> */
}
@media (max-width: 767px) {
  .confirmation-block .confirmation-content table {
    margin-left: 20px;
  }
}
.confirmation-block .confirmation-note {
  width: 100%;
  max-width: 320px;
  border: 0px solid black;
  text-align: right;
  margin-top: 5px;
}
.confirmation-block .confirmation-note p {
  display: inline-block;
  width: 278px;
  padding: 9px;
  margin: 0;
  text-align: left;
  font-family: ArialMT;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  color: #4a4a4a;
  border: 1px solid #e1e1e1;
}
@media (max-width: 767px) {
  .confirmation-block .confirmation-note {
    max-width: 100%;
    margin-top: 0;
  }
  .confirmation-block .confirmation-note p {
    width: 100%;
    border: 0;
    padding: 0 20px 14px 20px;
    color: #a4a4a4;
  }
}
/* END: confirmation-block */
.confirmation-submit {
  text-align: center;
}
.confirmation-submit button {
  text-align: center;
}
.confirmation-terms {
  margin-top: 30px;
}
.confirmation-terms p {
  font-family: ArialMT;
  font-size: 12px;
  line-height: 1.67;
  color: #a4a4a4;
}
.confirmation-terms p:first-child {
  font-weight: bold;
  margin-bottom: 0 !important;
}
/***************** SUMMARY PAGE  ******************/
.reservation-info-face {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 40px;
}
/************* RESERVATION CANCELING PAGE *********/
.cancel-reservation {
  width: 100%;
  max-width: 940px;
  min-height: 400px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.cancel-reservation .content {
  width: 100%;
  max-width: 500px;
  text-align: left;
  padding-top: 50px;
  margin: 0 auto;
}
.cancel-reservation .content h4,
.cancel-reservation .content p {
  margin-bottom: 25px;
}
/**************  COMMON **********/
[data-reactroot] {
  height: 100% !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
}
.section-container {
  padding: 0 16px;
}
.link:link,
.link:visited,
.link:hover {
  height: 15px;
  font-family: HelveticaNeue;
  text-align: left;
  color: #F10C29;
  vertical-align: middle;
  text-decoration: none;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.italics {
  font-style: italic;
}
.header-row {
  text-align: center;
  /* width < 768px */
  /* width 768px - 992px */
  /* width >= 992px */
}
.header-row h4 {
  display: inline-block;
  font-family: Helvetica;
  color: #333333;
  margin: 0;
}
@media (max-width: 767px) {
  .header-row {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
  }
  .header-row h4 {
    line-height: 50px;
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-row {
    height: 62px;
    line-height: 62px;
  }
  .header-row h4 {
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 14px;
  }
}
@media (min-width: 992px) {
  .header-row {
    height: 62px;
    line-height: 62px;
  }
  .header-row h4 {
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 14px;
  }
}
.block {
  background-color: #fff;
  padding: 0 30px 30px 30px;
}
.block-separator {
  margin: 0;
  padding: 0;
  line-height: 0;
  /* width < 768px */
}
.block-separator img {
  width: 100%;
}
@media (max-width: 767px) {
  .block-separator {
    display: none;
  }
}
.submit-buttons-centered {
  text-align: center;
  margin-top: 30px;
  font-family: Gotham-Book, ArialMT;
  letter-spacing: 1px;
  color: #fff;
}
.submit-buttons-centered button {
  height: 37px;
  text-align: center;
  padding: 5px 15px;
  margin: 0 20px;
  border-radius: 18.5px;
  text-transform: uppercase;
}
.btn-white {
  border: none;
  background-color: #fff;
  color: #F10C29;
}
.btn-red {
  border: 1px solid #F10C29;
  background-color: #F10C29;
  color: #fff;
}
button:focus {
  outline: 0;
}
.block input[type="checkbox"],
.block input[type="radio"] {
  margin-right: 10px;
}
ol {
  list-style: decimal;
}
.inline-box div {
  display: inline-block;
  border: 0px solid red;
  vertical-align: top;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-40 {
  padding-left: 40px;
}
.danger input {
  border-color: red;
}
.img-box-round-50 {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 25px;
}
.img-box-round-50 img {
  max-width: 50px;
}
.svg-icon {
  display: inline;
}
.overlay-bg-color {
  width: 100%;
  height: 100%;
}
.unit-info {
  position: relative;
  height: 20px;
}
.unit-name {
  margin-left: 5px;
}
.vertical-align-middle {
  display: inline-block;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
textarea:focus,
input:focus,
a:focus {
  outline: none !important;
}
.popup-close {
  position: absolute;
  top: 1.5em;
  right: 2em;
  cursor: pointer;
}
.popup-close:hover {
  width: 1.3em;
  height: 1.5em;
}
.popup-close:hover g {
  fill: #d90b25;
}
.img-private-doctor,
.img-occupational-doctor {
  position: absolute;
}
@media only screen and (max-width: 430px) {
  .img-private-doctor,
  .img-occupational-doctor {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.img-private-doctor {
  top: 6em;
  right: 9em;
  width: 7.5em;
}
@media only screen and (max-width: 600px) {
  .img-private-doctor {
    right: 2em;
  }
}
@media only screen and (max-width: 430px) {
  .img-private-doctor {
    width: 11.5em;
    margin-bottom: 91px;
  }
}
.img-occupational-doctor {
  top: 8em;
  right: 14em;
  width: 6.5em;
}
@media only screen and (max-width: 600px) {
  .img-occupational-doctor {
    right: 2em;
  }
}
@media only screen and (max-width: 430px) {
  .img-occupational-doctor {
    width: 11.5em;
    margin-bottom: 72px;
  }
}
.client-popup-form {
  margin-left: 55px;
}
.client-popup-form h3,
.client-popup-form h4,
.client-popup-form p,
.client-popup-form .popup-form-input {
  margin-left: 55px;
}
.client-popup-form a {
  color: #d51a31;
}
.client-popup-form p {
  margin-bottom: 50px;
  padding-right: 6em;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
@media only screen and (max-width: 430px) {
  .client-popup-form p {
    padding-right: 0;
  }
}
.client-popup-form h4 {
  margin-top: 72px;
  margin-bottom: 25px;
}
.client-popup-form td {
  padding: 0 2.2em .8em 0;
}
.client-popup-form td input {
  margin-bottom: 0;
}
.client-popup-form input {
  width: 240px;
  height: 34px;
  font-size: 17px;
  font-family: ArialMT;
  padding-left: 10px;
  margin-bottom: 90px;
  border-radius: 2px;
  border: solid 1px #e8e8e8;
}
.client-popup-form .input-reservation-code {
  margin-bottom: 0.8em;
}
.client-popup-form .input-reservation-ssn {
  margin-bottom: 25px;
}
.client-popup-form .reservation-input-info {
  margin-left: 0;
}
@media only screen and (max-width: 430px) {
  .client-popup-form .reservation-input-info {
    margin-bottom: 208px;
  }
}
.client-popup-form .doctor-info-container {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin: 0 50px;
}
@media only screen and (max-width: 430px) {
  .client-popup-form .doctor-info-container {
    position: absolute;
    bottom: 0;
    top: 0;
    height: auto;
    width: 100%;
    margin: 0 0;
  }
}
.client-popup-form .doctor-info-container .popup-control-box {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;
}
.client-popup-form .doctor-info {
  position: absolute;
  top: 72px;
  bottom: 80px;
  overflow-y: scroll;
  width: 100%;
}
.client-popup-form .doctor-info h3 {
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 0;
}
.client-popup-form .doctor-info h4 {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0;
}
.client-popup-form .doctor-info p {
  margin: 0 0 20px 0;
  padding-right: 0;
  line-height: 1;
}
@media only screen and (max-width: 430px) {
  .client-popup-form .doctor-info h4,
  .client-popup-form .doctor-info h3,
  .client-popup-form .doctor-info p {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.client-popup-form .doctor-info .doctor-info-person {
  background-color: #eee;
  padding: 10px 7px 20px 11px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 430px) {
  .client-popup-form .doctor-info .doctor-info-person {
    padding-left: 0;
    padding-right: 0;
  }
  .client-popup-form .doctor-info .doctor-info-person h3,
  .client-popup-form .doctor-info .doctor-info-person p {
    margin-left: 30px;
    margin-right: 30px;
  }
  .client-popup-form .doctor-info .doctor-info-person img {
    padding-right: 7px;
  }
}
.client-popup-form .doctor-info .doctor-info-person img {
  width: 105px;
  float: right;
  font-size: 16px;
}
.client-popup-form .popup-control-box {
  height: 80px;
  border-top: 1px solid #dbdbdb;
}
.client-popup-form .popup-control-box .submit-buttons-centered {
  margin-top: 20px;
}
@media only screen and (max-width: 430px) {
  .client-popup-form h4,
  .client-popup-form p,
  .client-popup-form .popup-form-input {
    margin-left: 30px;
  }
  .client-popup-form .popup-control-box {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
  }
  .client-popup-form .popup-control-box .btn-red {
    margin-bottom: 20px;
  }
  .client-popup-form .popup-control-box .btn-red-mobile-margin {
    margin-top: 10px;
  }
  .client-popup-form .reservation-forbidden {
    margin-right: 30px;
  }
  .client-popup-form .popup-error-not-found {
    width: 15em;
  }
}
.client-popup-form input {
  margin: 0;
}
.client-popup-form h4 {
  margin-left: 0;
}
.client-popup-form div h4 {
  margin-top: 35px;
}
.client-popup-form .popup-control-box {
  margin-top: 50px;
  margin-left: -55px;
}
@media only screen and (max-width: 600px) {
  .client-popup-form {
    margin-left: 30px;
  }
  .client-popup-form table,
  .client-popup-form tbody,
  .client-popup-form tr,
  .client-popup-form td {
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  .client-popup-form .popup-control-box {
    margin-left: -30px;
  }
  .client-popup-form h4 {
    width: 12em;
  }
}
.client-popup h3,
.client-popup h4,
.client-popup p,
.client-popup .popup-form-input {
  margin-left: 55px;
}
.client-popup a {
  color: #d51a31;
}
.client-popup p {
  margin-bottom: 50px;
  padding-right: 6em;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}
@media only screen and (max-width: 430px) {
  .client-popup p {
    padding-right: 0;
  }
}
.client-popup h4 {
  margin-top: 72px;
  margin-bottom: 25px;
}
.client-popup td {
  padding: 0 2.2em .8em 0;
}
.client-popup td input {
  margin-bottom: 0;
}
.client-popup input {
  width: 240px;
  height: 34px;
  font-size: 17px;
  font-family: ArialMT;
  padding-left: 10px;
  margin-bottom: 90px;
  border-radius: 2px;
  border: solid 1px #e8e8e8;
}
.client-popup .input-reservation-code {
  margin-bottom: 0.8em;
}
.client-popup .input-reservation-ssn {
  margin-bottom: 25px;
}
.client-popup .reservation-input-info {
  margin-left: 0;
}
@media only screen and (max-width: 430px) {
  .client-popup .reservation-input-info {
    margin-bottom: 208px;
  }
}
.client-popup .doctor-info-container {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin: 0 50px;
}
@media only screen and (max-width: 430px) {
  .client-popup .doctor-info-container {
    position: absolute;
    bottom: 0;
    top: 0;
    height: auto;
    width: 100%;
    margin: 0 0;
  }
}
.client-popup .doctor-info-container .popup-control-box {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;
}
.client-popup .doctor-info {
  position: absolute;
  top: 72px;
  bottom: 80px;
  overflow-y: scroll;
  width: 100%;
}
.client-popup .doctor-info h3 {
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 0;
}
.client-popup .doctor-info h4 {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0;
}
.client-popup .doctor-info p {
  margin: 0 0 20px 0;
  padding-right: 0;
  line-height: 1;
}
@media only screen and (max-width: 430px) {
  .client-popup .doctor-info h4,
  .client-popup .doctor-info h3,
  .client-popup .doctor-info p {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.client-popup .doctor-info .doctor-info-person {
  background-color: #eee;
  padding: 10px 7px 20px 11px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 430px) {
  .client-popup .doctor-info .doctor-info-person {
    padding-left: 0;
    padding-right: 0;
  }
  .client-popup .doctor-info .doctor-info-person h3,
  .client-popup .doctor-info .doctor-info-person p {
    margin-left: 30px;
    margin-right: 30px;
  }
  .client-popup .doctor-info .doctor-info-person img {
    padding-right: 7px;
  }
}
.client-popup .doctor-info .doctor-info-person img {
  width: 105px;
  float: right;
  font-size: 16px;
}
.client-popup .popup-control-box {
  height: 80px;
  border-top: 1px solid #dbdbdb;
}
.client-popup .popup-control-box .submit-buttons-centered {
  margin-top: 20px;
}
@media only screen and (max-width: 430px) {
  .client-popup h4,
  .client-popup p,
  .client-popup .popup-form-input {
    margin-left: 30px;
  }
  .client-popup .popup-control-box {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
  }
  .client-popup .popup-control-box .btn-red {
    margin-bottom: 20px;
  }
  .client-popup .popup-control-box .btn-red-mobile-margin {
    margin-top: 10px;
  }
  .client-popup .reservation-forbidden {
    margin-right: 30px;
  }
  .client-popup .popup-error-not-found {
    width: 15em;
  }
}
.modal-class-big {
  position: absolute;
  display: inline-block;
  width: 648.3px;
  max-height: 500px;
  top: 19.7em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: auto;
  height: auto;
  background-color: white;
  border: solid 1px gray;
  top: 12em;
  color: #4a4a4a;
}
@media only screen and (max-width: 600px) {
  .modal-class-big {
    width: auto;
    max-height: 100%;
  }
}
@media only screen and (max-width: 430px) {
  .modal-class-big {
    top: 0;
    height: 100%;
  }
}
.modal-class-big p {
  font-size: 17px;
  color: #646464;
}
.modal-class-big .cancellation-statement {
  margin-left: 55px;
}
.modal-class-big .popup-reservation-info {
  width: 143px;
  height: 88px;
  margin-bottom: 27px;
  margin-top: 25px;
  margin-left: 55px;
}
.modal-class-big .popup-unit-info {
  position: relative;
  margin-left: 55px;
  margin-bottom: 25px;
}
.modal-class-big .popup-unit-info .svg-icon,
.modal-class-big .popup-unit-info .popup-unit-name {
  cursor: pointer;
}
.modal-class-big .popup-unit-info .svg-icon {
  position: absolute;
}
.modal-class-big .popup-unit-info .popup-unit-name {
  margin-left: 16px;
}
.modal-class-big .popup-unit-info .popup-unit-name a {
  color: #d51a31;
}
@media only screen and (max-width: 430px) {
  .modal-class-big p {
    margin-bottom: 67px;
  }
  .modal-class-big .popup-reservation-info,
  .modal-class-big .popup-unit-info,
  .modal-class-big .cancellation-statement {
    margin-left: 30px;
  }
  .modal-class-big .popup-cancellation-ok-margin {
    margin-bottom: 32px;
  }
}
.modal-class {
  position: absolute;
  display: inline-block;
  width: 648.3px;
  max-height: 500px;
  top: 19.7em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: auto;
  height: auto;
  background-color: white;
  border: solid 1px gray;
}
@media only screen and (max-width: 600px) {
  .modal-class {
    width: auto;
    max-height: 100%;
  }
}
@media only screen and (max-width: 430px) {
  .modal-class {
    top: 0;
    height: 100%;
  }
}
.modal-class:focus {
  outline: none;
}
.overlay-class {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1000;
}
@media only screen and (max-width: 430px) {
  .overlay-class {
    position: fixed;
  }
}
.form-error {
  box-shadow: 0 0 3px red;
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #C0C0C0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
